/Jobsheet6_Waldan/nbproject/private/
/Jobsheet6_Waldan/build/
/JavaApplication16/nbproject/private/
/JavaApplication16/build/
/UTS_Moh.IqbalWaldan/nbproject/private/
/UTS_Moh.IqbalWaldan/build/
/Jobsheet7_Waldan/nbproject/private/
/Jobsheet7_Waldan/build/
/Tugas7_Waldan/nbproject/private/
/Tugas7_Waldan/build/
/Tugas6_Waldan/nbproject/private/
/Jobsheet8_Waldan/nbproject/private/
/Jobsheet8_Waldan/build/
/Tugas6_Waldan/build/
/Tugas6_Waldan/dist/
/Tugas8_Waldan/nbproject/private/
/Tugas8_Waldan/build/
/Jobsheet9_Waldan/nbproject/private/
/Jobsheet9_Waldan/build/
/Tugas9_Waldan/nbproject/private/
/Tugas9_Waldan/build/
/Jobsheet10_Waldan/nbproject/private/
/Jobsheet10_Waldan/build/
/Tugas10_Waldan/nbproject/private/
/Tugas10_Waldan/build/
/Kuis2_Waldan/nbproject/private/
/Kuis2_Waldan/build/
/Jobsheet11_Waldan/nbproject/private/
/Jobsheet11_Waldan/build/